body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}